beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.5
django-bootstrap-form==3.3
gevent==1.2.2
google-api-python-client==1.6.3
greenlet==0.4.12
gunicorn==19.7.1
httplib2==0.10.3
huey==1.4.1
idna==2.6
oauth2client==4.1.2
peewee==2.10.1
psycopg2==2.7.3.1
pyasn1==0.3.4
pyasn1-modules==0.1.4
pytz==2017.2
redis==2.10.6
requests==2.18.4
rsa==4.7
setupfiles==0.0.50
six==1.10.0
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.0
XlsxWriter==1.0.0
