{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="loading"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1><a class="btn btn-primary" href="{% url 'index' %}" role="button"><</a> Please check all meaningfull keywords </h1>
				<div>
                    <form action="{% url 'filter' %}" method="post">
                        {% csrf_token %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="select_all" id="select_all">&nbsp;&nbsp;Select All</label>
                        </div>
                        {% for key in data %}
					    <div class="checkbox">
						  	<label><input type="checkbox" name="keys[]" value="{{ key }}">&nbsp;&nbsp;{{ key }}</label>
						</div>
						{% empty %}
						<div class="checkbox">
							<label >No Keywords found</label>
						</div>
						{% endfor %}
						<input type="hidden" name="do_search" value="{{ do_search }}"/>
						<input type="hidden" name="search_city" value="{{ search_city }}"/>
						<input type="hidden" name="search_country" value="{{ search_country }}"/>
						<input type="hidden" name="language" value="{{ language }}"/>
					    <input type="submit" value="Submit" class="btn btn-primary" />
					    <a class="btn btn-primary" href="{% url 'index' %}" role="button">Back</a>
					</form>					
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	$(document).ready(function(){
		$(".loading").hide();
		$(document).on('submit', function(){
			$(".loading").show();
		});
		$('#select_all').click(function(event) {
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;
                });
            }
        });
	});
	
</script>
</html>