{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Google Results</h1>
				<ul>
					{% for item in contact %}
						<li>
						<p><strong>Link:</strong> {{ item.url }}</p>
						<p><strong>Phones:</strong> {{ item.info }}</p>
						<p><strong>Emails:</strong> {{ item.email }}</p>
						<p><strong>Contacts Links</strong> {% if item.found %}{{ item.found }}{% else %}No itmes found{% endif %}</p>
						</li>
					{% endfor %}
				</ul>
                <h2>Yellow Pages Results</h2>
                <ul>                	
                    {% for item2 in yellow %}                    
	                    <li>
	                    <p><strong>Name:</strong> {{ item2.businessName }}</p>
	                    <p><strong>website URL:</strong> {{ item2.websiteURL }}</p>
	                    <p><strong>Phone:</strong> {{ item2.phone }}</p>
	                    <p><strong>Email:</strong> {{ item2.email }}</p>
	                    <p><strong>Address:</strong> {{ item2.street }}, {{ item2.state }}</p>
	                    </li>
                    {% empty %}
	                    <li>
	                    <p><strong>Message: </strong>{{ yellowmessage }}</p>
	                    </li>
                    {% endfor %}
                </ul>
				<!--h2>Places Results</h2>
				<ul>
					{ #% for place in places %#}
						<li>
							<p><strong>Name: </strong> { { place.name }}</p>
							<p><strong>Address: </strong> { { place.address }}</p>
							<p><strong>Phone number: </strong> {{ place.number }}</p>
							<p><strong>Site: </strong> { { place.url }}</p>
						</li>
					{ #% empty %#}
						<li>No places found</li>
					{ #% endfor %#}
				</ul-->
				<p>
					<form action="{% url 'index' %}" method="post">					
					    {% csrf_token %}
						<input type="submit" value="Atras">
					</form>
				</p>
			</div>
		</div>
	</div>
</body>
</html>