<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="page" value="{{ page }}">
    <input type="submit" value="Submit" />
</form>
<h1>Results</h1>
{% for meta in data %}
	<p>{{ meta.link }}</p>
	<p>{{ meta.meta }}</p>
	<div>-------------------------</div>
{% endfor %}
<!--<table>
	<tr>
		<th>kind</th>
		<th>title</th>
		<th>displayLink</th>
		<th>htmlTitle</th>
		<th>formattedUrl</th>
		<th>htmlFormattedUrl</th>
		<th>pagemap</th>
		<th>snippet</th>
		<th>htmlSnippet</th>
		<th>link</th>
		<th>cacheId</th>
	</tr>
	{% for item in data.items %}
	<tr>		
		<td>{{ item.kind }}</td>
		<td>{{ item.title }}</td>
		<td>{{ item.displayLink }}</td>
		<td>{{ item.htmlTitle }}</td>
		<td>{{ item.formattedUrl }}</td>
		<td>{{ item.htmlFormattedUrl }}</td>
		<td>{{ item.pagemap }}</td>
		<td>{{ item.snippet }}</td>
		<td>{{ item.htmlSnippet }}</td>
		<td>{{ item.link }}</td>
		<td>{{ item.cacheId }}</td>	
	</tr>
	{% endfor %}
	
</table>
-->


